:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 5114px;
  height: 4697px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.rectangle {
  position: relative;
  width: 5114px;
  height: 432px;
  margin: 0 0 0 0;
  background: #64d9d6;
  z-index: 1;
}
.logo-removebg-preview {
  position: absolute;
  width: 369px;
  height: 326px;
  top: 53px;
  left: 24px;
  background: url(./assets/images/7775e165a1156483b80c94e7df75c4a6c72ff64a.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.contact-us {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 197px;
  top: 133px;
  left: 3623px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.collection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 197px;
  top: 133px;
  left: 1721px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.our-story {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 197px;
  top: 133px;
  left: 2707px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.log-in {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 197px;
  top: 133px;
  left: 4599px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.shop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 197px;
  top: 133px;
  left: 1103px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.findlay-rectangular-dining-table {
  position: absolute;
  width: 5114px;
  height: 4480px;
  top: 317px;
  left: 0;
  background: url(./assets/images/08d143e4-63e7-4f1b-8788-ffc656dea747.png)
    no-repeat center;
  background-size: cover;
}
