:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 5192px;
  height: 4697px;
  margin: 0 auto;
  background: #d4fffe;
  overflow: hidden;
}
.flex-row-bc {
  position: relative;
  width: 5213px;
  height: 416px;
  margin: 0 0 0 0;
  z-index: 33;
}
.rectangle {
  position: absolute;
  width: 5195px;
  height: 416px;
  top: 0;
  left: 0;
  background: #64d8d6;
}
.logo-removebg-preview {
  position: absolute;
  width: 393px;
  height: 381px;
  top: 18px;
  left: 30px;
  cursor: pointer;
  background: transparent;
  background: no-repeat center;
  background-size: cover;
  border: none;
  z-index: 1;
}
.ellipse {
  position: absolute;
  width: 468px;
  height: 244px;
  top: 86px;
  left: 1027px;
  cursor: pointer;
  background: transparent;
  background: no-repeat center;
  background-size: cover;
  border: 1px solid #5d7e7d;
  filter: blur(40px);
  z-index: 30;
}
.contact-us {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 197px;
  top: 110px;
  left: 3737px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.collection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 197px;
  top: 110px;
  left: 1698px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.our-story {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 197px;
  top: 110px;
  left: 2766px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}
.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 197px;
  top: 110px;
  left: 505px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.shop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 197px;
  top: 110px;
  left: 1103px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.log-in {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 197px;
  top: 110px;
  left: 4758px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.flex-row-c {
  position: relative;
  width: 5056px;
  height: 1783px;
  margin: 149px 0 0 74px;
  z-index: 6;
}
.rectangle-1 {
  position: absolute;
  width: 1624px;
  height: 1783px;
  top: 0;
  left: 0;
  background: #beeaf8;
  z-index: 2;
  border-radius: 195px;
}
.images {
  position: relative;
  width: 1204px;
  height: 1149px;
  margin: 106px 0 0 198px;
  background: url(./assets/images/1c8285a7-d4d9-4277-9b4b-64df2e89da7b.png)
    no-repeat center;
  background-size: cover;
  z-index: 25;
}
.dollar {
  position: relative;
  width: 721px;
  height: 177px;
  margin: 35px 0 0 451px;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 14;
}
.number {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
}
.price {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
}
.white-chair {
  display: block;
  position: relative;
  height: 168px;
  margin: 0 0 0 437px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.rectangle-2 {
  position: absolute;
  width: 1624px;
  height: 1783px;
  top: 0;
  left: 1710px;
  background: #bfebf9;
  z-index: 3;
  border-radius: 195px;
}
.images-3 {
  position: relative;
  width: 1204px;
  height: 1124px;
  margin: 106px 0 0 210px;
  background: url(./assets/images/b33db1f2-5d33-4640-96f0-4abf9cd2178d.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
}
.dollar-4 {
  position: relative;
  width: 721px;
  height: 177px;
  margin: 60px 0 0 451px;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 4;
}
.number-5 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
}
.span-white-chair {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
}
.span-white-chair-6 {
  display: block;
  position: relative;
  height: 168px;
  margin: 0 0 0 437px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.div-rectangle {
  position: absolute;
  width: 1624px;
  height: 1783px;
  top: 0;
  left: 3432px;
  background: #bfebf9;
  z-index: 6;
  border-radius: 195px;
}
.div-images {
  position: relative;
  width: 1224px;
  height: 1124px;
  margin: 106px 0 0 185px;
  background: url(./assets/images/53a50ccbd5f1d2cd517f1936cd773df684b59046.png)
    no-repeat center;
  background-size: cover;
  z-index: 26;
}
.div-flex-row-a {
  position: relative;
  width: 803px;
  height: 177px;
  margin: 60px 0 0 423px;
  z-index: 24;
}
.div {
  position: absolute;
  width: 721px;
  height: 177px;
  top: 0;
  left: 0;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 5;
}
.span {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
}
.span-7 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
}
.div-8 {
  position: absolute;
  width: 721px;
  height: 177px;
  top: 0;
  left: 82px;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 24;
}
.span-9 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
}
.span-a {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
}
.white-sofa {
  display: block;
  position: relative;
  height: 168px;
  margin: 0 0 0 502px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.flex-row-a {
  position: relative;
  width: 5056px;
  height: 1783px;
  margin: 149px 0 0 74px;
  z-index: 10;
}
.rectangle-b {
  position: absolute;
  width: 1624px;
  height: 1783px;
  top: 0;
  left: 0;
  background: #bfebf9;
  z-index: 7;
  border-radius: 195px;
}
.images-c {
  position: relative;
  width: 1204px;
  height: 1124px;
  margin: 134px 0 0 217px;
  background: url(./assets/images/adc8e8cfd6986e4ed639a059166a88f4bd15777d.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.dollar-d {
  position: relative;
  width: 803px;
  height: 177px;
  margin: 106px 0 0 451px;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 15;
}
.price-e {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
}
.price-f {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
}
.white-sofa-table {
  display: block;
  position: relative;
  height: 166px;
  margin: 0 0 0 259px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.rectangle-10 {
  position: absolute;
  width: 1624px;
  height: 1783px;
  top: 0;
  left: 1710px;
  background: #bfebf9;
  z-index: 9;
  border-radius: 195px;
}
.unnamed {
  position: relative;
  width: 1229px;
  height: 1124px;
  margin: 134px 0 0 197px;
  background: url(./assets/images/0e177923ce15325a402bdbc133bab6dc5cdfee23.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.dollar-11 {
  position: relative;
  width: 803px;
  height: 177px;
  margin: 106px 0 0 478px;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 16;
}
.span-1230 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
}
.span-1111 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
}
.white-sofa-12 {
  display: block;
  position: relative;
  height: 168px;
  margin: 0 0 0 482px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.rectangle-13 {
  position: absolute;
  width: 1624px;
  height: 1783px;
  top: 0;
  left: 3432px;
  background: #bfebf9;
  z-index: 10;
  border-radius: 195px;
}
.images-14 {
  position: relative;
  width: 1216px;
  height: 1124px;
  margin: 134px 0 0 185px;
  background: url(./assets/images/dc6d36d14fefcb8ca89ff4cd374df66b1e81fda6.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}
.div-15 {
  position: relative;
  width: 803px;
  height: 177px;
  margin: 106px 0 0 464px;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 19;
}
.span-1900 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
}
.span-1661 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
}
.white-sofa-table-16 {
  display: block;
  position: relative;
  height: 166px;
  margin: 0 0 0 272px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 128px;
  font-weight: 600;
  line-height: 154.909px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
